.home__content {
    display: flex;
    width: auto;
    height: 71%;
    margin-top: 2%;
}

.block__before__content {
    display: flex;
    width: 97%;
    height: 65px;
    background-color: white;
    border: solid rgb(0, 0, 0, 0.1) 1.5px;
    box-shadow: 0px 4px 3px -2px rgb(5, 5, 5, 0.3);
    margin-top: 2%;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.block__before__content p {
    margin-left: 20px;
}

.content__graph__id-users {
    width: 97%;
    height: 75%;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0, 0.1) 1.5px;
    box-shadow: 0px 4px 3px -2px rgb(5, 5, 5, 0.3);
    overflow: hidden;
}

.content__id-users {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.id-users__block {
    height: 85%;
    width: 92%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.notification__note__separator__id-users {
    width: 100%;
    color: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
}

.id-users__block__app {
    display: flex;
    align-items: center;
}

.id-users__block__title {
    font-weight: 600;
    width: 250px;
}

form {
    margin: 0;
}

.input__Container__id-users {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: end;
}

.input__Container__id-users i {
    position: absolute;
}

.password__id-users {
    background-color: rgba(47, 128, 237, 0.1);
    border: none;
    width: 300px;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
}

.icon {
    color: rgb(34, 34, 34);
    padding-top: 9px;
}

.chanel-name__id-users {
    background-color: white;
    border: solid 1px rgba(0, 109, 255, .3);
    width: 300px;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
}

.token__block {
    display: flex;
    align-items: center;
}

.add__users__button button {
    background-color: #FFCF2C;
    border: none;
    color: white;
    padding: 9px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.back__button button {
    background-color: #2F80ED;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
}

.token__link {
    font-size: 12px;
    margin-top: 10px;
    color: #2F80ED;
    left: 250px;
    position: relative;
}

.token__link span {
    font-weight: 700;
}