@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.area {
    background: #F6FAFF;
    width: calc(100% - 60px);
    height: calc(100% - 7%);
    position: absolute;
    top: 7%;
    left: 60px;
}